.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 30px;
    background-color: aquamarine;
    padding-bottom: 30px;
    width: 600px;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}
.text{
    color:rgb(104, 104, 204);
    font-size: 48px;
    font-weight: 700; 
}
.underline{
    width: 200px;
    height: 6px;
    background: rgb(104, 104, 204);
    border-radius: 9px;
}
.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;   
}
.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: rgb(104, 104, 204);
    border-radius: 6px;
}
.input img{
    margin: 0px 30px;
}
.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color:rgb(131, 122, 233);
    font-size: 19px;
}
.forgot-password{
    padding-left: 62px;
    margin-top: 27px;
    color: rgb(136, 134, 248);
    font-size: 18px;
}
.forgot-password span{
    color: rgb(0, 0, 160);
    cursor: pointer;
}
.submit-container{
    display: flex;
    gap:30px;
    margin: 60px auto;
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color:rgb(255, 255, 255);
    background-color: rgb(103, 103, 249);
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}
.gray{
    background: rgb(175, 128, 224);
    color:rgb(255, 253, 253);
}